<%- include('partials/header') -%>
  <div class="mt-5">
    <h2>Add a Photo</h2>
    <form action="/photo/createPhoto" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Caption</label>
        <textarea class="form-control" id="caption" name="caption"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<photos.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a class= "card-anchor" href="/photo/<%= photos[i]._id%>">
              <div class="card" style="width: 18rem;">
                <img class="img-fluid card-img-top" src="<%= photos[i].image%>">
                <div class="card-body">
                  <h5 class="card-title"><%= photos[i].title%></h5>
                  <p class="card-text"><%= photos[i].caption%></p>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>   
<%- include('partials/footer') -%>